@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
@font-face {
  font-family: "tajawal-light";
  src: url("/src/assets/fonts/TajawalLight.ttf") format("truetype");
}

@font-face {
  font-family: "tajawal-regular";
  src: url("/src/assets/fonts/TajawalRegular.ttf") format("truetype");
}

@font-face {
  font-family: "tajawal-medium";
  src: url("/src/assets/fonts/TajawalMedium.ttf") format("truetype");
}

@font-face {
  font-family: "tajawal-bold";
  src: url("/src/assets/fonts/TajawalBold.ttf") format("truetype");
}
